.pAvatar {
    background-color: var(--nav-active-bg-color) !important;
    color: var(--nav-text-color);
}

.icon {
    color: red;
    background-color: rgb(14, 129, 230);
}

.pBadge {
    min-width: 1.2rem !important;
    height: 1.2rem !important;
    line-height: 1.2rem !important;
    background: var(--nav-active-bg-color);
    color: var(--nav-text-color);
}

.title {
    color: var(--nav-text-color);
}



.homeHeader {
    display: flex;
    width: 100%;

    justify-content: space-between;
    padding: 0 50px;
    height: 65px;
    align-items: center;
}


.icons {
    color: var(--nav-text-color) !important;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 9px;
    background: var(--summary-bg-color);
    transition: 0.35s ease-in-out;


    i {
        box-shadow: none;
    }

    svg {
        // box-shadow: var(--box-shadow);

    }

    &:hover {
        opacity: 0.6;
        transition: 0.35s ease-in-out;
        color: rgb(50, 134, 243) !important;
    }
}

.ico {
    color: var(--nav-text-color) !important;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    padding: 7px 8px 3px;
    border-radius: 9px;
    background: var(--summary-bg-color);
    transition: 0.35s ease-in-out;


    svg {

        width: 16px !important;
    }

    &:hover {
        opacity: 0.6;
        transition: 0.35s ease-in-out;
        color: rgb(50, 134, 243) !important;
    }
}

.users {
    padding: 8px;
}

.profile {
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    // justify-content: center;
    column-gap: 8px;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
}

.profilesMenu {
    position: absolute;
    top: 103%;
    right: 2px;
    width: calc(100% - 42px);
    border-radius: 10px;
    z-index: 23;
    // background: var(--summary-bg-color);
    background-color: var(--profile-bg-color);
    // box-shadow: rgba(76, 75, 75, 0.4) 0px 2px 4px, rgba(76, 75, 75, 0.3) 0px 7px 13px -3px, rgba(76, 75, 75, 0.2) 0px -3px 0px inset !important;


}