.home {
  -moz-column-gap: 23.1px !important;
       column-gap: 23.1px !important;
  align-items: flex-start;
}

.transactions {
  min-height: 464px !important;
  display: flex;
  flex-direction: column;
}

.table {
  min-height: 464px !important;
}

.basliq {
  color: var(--nav-text-color);
}

.chart {
  width: 66%;
}

.homeLeftxx {
  width: 71%;
}

.mainTop {
  color: white;
  padding-top: 20px;
}
.mainTop .balansCont {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 33%;
  padding: 0 1rem 1rem 1rem !important;
}
.mainTop .balansCont .balans {
  background: var(--bg-colors);
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: var(--nav-text-color);
  border: 1px solid #2888d6;
  border-radius: 10px;
}
.mainTop .balansCont .balans .total {
  text-transform: capitalize;
  font-size: 13px;
  position: relative;
  color: var(--total-color);
}
.mainTop .balansCont .balans .total::before {
  content: "";
  width: 25px;
  height: 3px;
  background: linear-gradient(77.34deg, #36D9FF 6.16%, #4A00C5 94.12%);
  display: inline-block;
  position: absolute;
  top: 105%;
  left: 0px;
  border-radius: 5px;
}
.mainTop .balansCont .balans .amout {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}
.mainTop .balansCont .balans .limit {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 600;
}
.mainTop .balansCont .paymentBtn {
  width: 100%;
  margin: 0 !important;
  padding: 10px 32px;
  border-radius: 10px;
  background: var(--gradient-color);
  border: none;
  color: var(--nav-text-color);
  cursor: pointer;
}

.left {
  width: 27%;
  background: var(--homeR-bg-color);
  position: sticky;
  top: 1px;
}

.textW {
  width: 95%;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 16px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.transfer {
  width: 100%;
  background: rgba(211, 225, 245, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transferBtn {
  padding: 9px 11px 6px;
  background: var(--btn-bg-color);
  border-radius: 10px;
  color: white;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.transferInput {
  height: 40px;
  border: 1px solid rgb(122, 122, 241) !important;
  width: 76%;
  border-radius: 8px !important;
  background: var(--transfer-Input-bg-color) !important;
}

.transferContainer {
  width: 98%;
  background: var(--transfer-cont-bg-color);
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  -moz-column-gap: 14px;
       column-gap: 14px;
  padding: 20px 8px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  -moz-column-gap: 14px;
       column-gap: 14px;
  padding: 16px 8px;
}

.debit {
  width: 93%;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border: 1px solid red;
  border-radius: 8px;
}

.debitDropDown {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.module.css.map */