.home {
    // flex-wrap: nowrap !important;
    column-gap: 23.1px !important;
    align-items: flex-start;
    justify-content: space-between;
}



.transactions {
    min-height: 464px !important;
    display: flex;
    flex-direction: column;
}

.table {
    min-height: 464px !important;

}

.basliq {
    color: var(--nav-text-color);
}

.chart {
    width: 66%;
}

.homeLeftxx {
    width: 70.6%;
    // width: 69%; //! media query 1240 px

}

.mainTop {
    color: white;
    padding-top: 20px;

    .balansCont {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        width: 33%;
        padding: 0 1rem 1rem 1rem !important;

        .balans {
            background: var(--bg-colors);
            display: flex;
            flex-direction: column;
            padding: 20px;
            color: var(--nav-text-color);
            border: 1px solid #2888d6;
            border-radius: 10px;




            .total {
                text-transform: capitalize;
                font-size: 13px;
                position: relative;
                color: var(--total-color);


                &::before {
                    content: '';
                    width: 25px;
                    height: 3px;
                    background: linear-gradient(77.34deg, #36D9FF 6.16%, #4A00C5 94.12%);
                    display: inline-block;
                    position: absolute;
                    top: 105%;
                    left: 0px;
                    border-radius: 5px;
                }

            }

            .amout {
                font-size: 30px;
                font-weight: 600;
                margin-top: 10px;

            }

            .limit {
                font-size: 24px;
                margin-top: 10px;
                font-weight: 600;
            }
        }

        .paymentBtn {
            width: 100%;
            margin: 0 !important;
            padding: 10px 32px;
            border-radius: 10px;
            background: var(--gradient-color);
            border: none;
            color: var(--nav-text-color);
            cursor: pointer;
        }
    }

}


.left {
    width: calc(100% - 73%);
    // width: calc(100% - 71%); //! media query 1240 px
    // padding: 0 !important;
    background: var(--homeR-bg-color);
    position: sticky;
    top: 1px;

}


// !----------
.textW {
    width: 95%;
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 16px;
    margin-bottom: 20px;
    margin-left: 10px;

}

.transfer {
    width: 100%;
    background: rgba(211, 225, 245, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.transferBtn {
    padding: 9px 11px 6px;
    background: var(--btn-bg-color);
    border-radius: 10px;
    color: white;
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.transferInput {
    height: 40px;
    border: 1px solid rgb(122, 122, 241) !important;
    width: 76%;
    border-radius: 8px !important;
    background: var(--transfer-Input-bg-color) !important;
}

.transferContainer {
    width: 98%;
    background: var(--transfer-cont-bg-color);
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 14px;
    padding: 20px 8px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    column-gap: 14px;
    padding: 16px 8px;
}


.debit {
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    // border: 1px solid rgb(21, 255, 0);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    background: var(--summary-bg-color);
    box-shadow: rgba(76, 75, 75, 0.4) 0px 2px 4px, rgba(76, 75, 75, 0.3) 0px 7px 13px -3px, rgba(76, 75, 75, 0.2) 0px -3px 0px inset;



}

.debitCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.debitDropDown {
    width: 100%;
    background: var(--summary-bg-color);
    flex-direction: column;
    display: flex;
    max-height: 222px;
    // background: #2888d6;
    overflow: auto;
    position: absolute;
    left: 0px;
    border-radius: 8px;
    row-gap: 5px;
    padding: 5px 7px;

    top: 66px;
    // bottom: 0;
    // top: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.bankCardCont {
    // border: 1px solid #2888d6;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background: var(--summary-bg-color);
    border-radius: 8px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(76, 75, 75, 0.4) 0px 2px 4px, rgba(76, 75, 75, 0.3) 0px 7px 13px -3px, rgba(76, 75, 75, 0.2) 0px -3px 0px inset;

}

.cardDesign {

    background: rgba(255, 0, 0, 0.729);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 46px;
    width: 30%;
    padding: 3px;
    border-radius: 6px;
    row-gap: 5px;
}

.cardType {
    margin-left: 4px;
    font-size: 13px;
}

.cardNumber {
    margin-right: 4px;
    font-size: 13px;

    text-align: right;
}

.cardText {
    display: flex;
    flex-direction: column;
    color: var(--cart-color);
}

.cardLeft {
    display: flex;
    column-gap: 13px;
    width: 90%;
}

:root {}

.radio {}


.amount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    column-gap: 14px;
    padding: 20px 8px;


    .amountCont {
        width: 93%;
        // border: 1px solid goldenrod;

        background: var(--summary-bg-color);
        padding: 8px 12px;
        border-radius: 8px;

        box-shadow: rgba(76, 75, 75, 0.4) 0px 2px 4px, rgba(76, 75, 75, 0.3) 0px 7px 13px -3px, rgba(76, 75, 75, 0.2) 0px -3px 0px inset;


        .amountText {}

        .moneyCont {
            position: relative;

            .amountInput {
                border: none !important;
                text-indent: 20px;
                height: 27px;
                font-size: 16px;
            }

            .usd {
                position: absolute;
                left: 5px;
                top: 2px;

            }
        }

    }
}