.main {
    align-items: center;
    height: 100vh;
    margin: 0 auto !important;

}

.images {
    background-image: url(https://i.ibb.co/tDLqQtj/bg.jpg);
    background-size: cover;
    height: 75%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #8D334C, #CF6964);
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .text {
        z-index: 1;
        color: var(--text-colors);

        h3 {
            font-size: 30px;
            position: relative;
            width: 50%;
            text-align: center;
            margin-bottom: 30px;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #fff;
                bottom: -25%;
                left: 50%;
                transform: translateX(-50%);

            }
        }

        p {

            font-size: 16px;
            text-align: center;
            letter-spacing: 1.8px;
        }

    }
}

.colors {

    background: var(--btn-bg-color) !important;
}


.register {
    box-shadow: 0 1rem 3rem rgba(32, 21, 94, 0.295);
    background: var(--login-bg-color);
    height: 75%;
}

.sign {

    color: var(--text-colors);
    font-size: 30px;
}

.auth {

    color: var(--text-colors) !important;
}

input {
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
    border-image: linear-gradient(to right, #f07516, #ffa500, #6e3102) 1 !important;
    color: var(--text-colors) !important;
    border-radius: 0 !important;


}

.remember {
    color: var(--text-colors) !important;


}

.account {
    color: var(--text-colors) !important;

}

.link {

    background: var(--nav-text-color-active) !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
}

i {
    cursor: pointer;
    color: #d96d1a !important;
}

body {

    background: var(--body-bg-color);
}

.error {
    position: absolute;
    bottom: -21px;
    left: 13px;
    color: rgba(255, 0, 0, 0.832);
}

.cPassword {
    position: relative;
    margin-bottom: 18px;
}

.p-inputwrapper-focus {

    display: none !important;
}