@import '../../variables/mixins';


.left {
    width: calc(100% - 73%);
    // width: calc(100% - 71%); //! media query 1240 px
    // padding: 0 !important;
    background: var(--homeR-bg-color);
    position: sticky;
    top: 1px;
    padding-bottom: 21px;
    border-radius: 10px 0px 0px 10px;

    @include tablet {
        position: relative;
        width: 100%;
        border-radius: 10px;
    }
}


// !----------