.cardItem {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .PaginationCont {
        height: 40px;

        .pagination {
            height: 40px;
            display: flex;
            column-gap: 5px;
            align-items: center;
            justify-content: center;


            .pageItem {
                display: flex;
                align-items: center;
                justify-content: center;

                .pageLink {
                    background: #6359E9;
                    border-radius: 4px;
                    width: 10px;
                    height: 6px;
                    display: inline-block;
                    border: none;
                    cursor: pointer;


                }

                .active {
                    width: 25px;
                    height: 6px;
                }
            }
        }
    }

}

.pagination {
    display: flex;
    column-gap: 10px;

    span {
        background: var(--btn-bg-color);
        padding: 7px 14px;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }
}

.cardSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    width: 100%;
    /* Kartın genişliğini istediğiniz değere ayarlayabilirsiniz */
    height: 185px;
    /* Kartın yüksekliğini istediğiniz değere ayarlayabilirsiniz */
    // border: 1px solid #ccc;
    overflow: hidden;
    position: relative;

    >div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.ss {
    position: absolute;
    top: 0;
}

.total {
    position: absolute;
    top: 10px;
    left: 25px;

    .balansText {
        color: #fff;
        opacity: 0.54;
        font-size: 14px;
        text-transform: capitalize;
    }

    .price {
        color: #fff;
        font-size: 26px;
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

.active {
    color: red;
}

/* Kartın stilleri */
.cardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    // padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.cardItem h2 {
    margin-top: 0;
}

.cardItem p {
    margin-bottom: 0;
}