@import '../../variables/mixins';


.chart {
    width: 66%;

    @include mobile {
        width: 97%;
    }
}

.mainTop {
    color: white;
    padding-top: 8px;

    @include mobile {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .balansCont {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        width: 33%;
        padding: 0 1rem 1rem 1rem !important;

        @include mobile {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 6px;
        }

        .balans {
            background: var(--bg-colors);
            display: flex;
            flex-direction: column;
            padding: 20px;
            color: var(--nav-text-color);
            border: 1px solid #2888d6;
            border-radius: 10px;

            @include mobile {
                width: 49%;
            }




            .total {
                text-transform: capitalize;
                font-size: 13px;
                position: relative;
                color: var(--total-color);


                &::before {
                    content: '';
                    width: 25px;
                    height: 3px;
                    background: linear-gradient(77.34deg, #36D9FF 6.16%, #4A00C5 94.12%);
                    display: inline-block;
                    position: absolute;
                    top: 105%;
                    left: 0px;
                    border-radius: 5px;
                }

            }

            .amout {
                font-size: 30px;
                font-weight: 600;
                margin-top: 10px;

            }

            .limit {
                font-size: 24px;
                margin-top: 10px;
                font-weight: 600;
            }
        }

        .paymentBtn {
            width: 100%;
            margin: 0 !important;
            padding: 10px 32px;
            border-radius: 10px;
            background: var(--gradient-color);
            border: none;
            color: var(--nav-text-color);
            cursor: pointer;
        }
    }

}