@import '../../../components/variables/mixins';

.header {
    height: 100vh;
    min-height: 700px;
    left: 346px;
    top: 278px;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    background: var(--nav-bg-color);
    // border-radius: 20px;
    padding: 40px 0px !important;
    position: sticky;
    top: 0;
    left: 0;

    @include desktop {
        display: none !important;
    }


    .navTop {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        height: 100%;
        justify-content: space-between;

        .logo {
            margin-bottom: 20px;
            color: rgb(163, 34, 34);
            font-size: 30px;
            position: relative;
            margin-left: -80px;

            .icon {
                color: #06042b;
                font-size: 36px;

            }

            .logoLow {
                font-size: 11px;
                position: absolute;

                top: 13px;
                right: -20px;

            }
        }

        .hr {
            width: 78%;
            border: none;
            border-bottom: 1px solid #4B4B99;

        }

        .navList {
            list-style: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 5px;


            .navListText {
                border-radius: 10px;
                cursor: pointer;
                width: 70%;
                height: 42px;
                display: flex;
                align-items: center;
                text-transform: capitalize;

                .navLink {
                    color: var(--nav-text-color);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 15px;
                    border-radius: 10px;

                    .icon {
                        margin-right: 10px;
                        font-size: 20px;
                        color: var(--icon-color);

                    }
                }

                .active {
                    background: var(--nav-text-color-active);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                }

            }

            .hover {
                background: var(--nav-hover-color);

            }

            .active {
                background: var(--nav-active-bg-color);
            }




        }
    }

    .navBottom {

        .navBottomCont {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;

            .bottomImg {
                background: white;
                border-radius: 50%;
            }

            .bottomText {
                text-transform: capitalize;

                .name {
                    font-size: 20px;
                    color: #fff;
                }

                .work {
                    font-size: 16px;
                    color: #f0f0fb;
                }
            }

            .arrow {
                font-size: 21px;
                color: white;
            }
        }
    }
}

.hamburger {
    position: absolute;
    color: var(--nav-text-color);
}


// @media only screen and (min-width: 1000px) and (max-width: 1200px) {

//     /* Bu stil kuralları sadece 768 piksel ile 1024 piksel arasındaki ekran genişliklerinde uygulanır */
//     .header {
//         display: none !important;
//     }
// }