.pen {
    color: var(--nav-text-color) !important;
    background: var(--summary-bg-color);
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.input {
    border-radius: 10px !important;
    // box-shadow: var(--box-shadow) !important;
    background: var(--summary-bg-color) !important;
    color: var(--nav-text-color) !important;
    height: 50px;

    border: 1px solid #2888d6 !important;

    input {
        color: var(--nav-text-color) !important;
        // border: 1px solid #2888d6 !important;
        border-radius: 10px !important;
        border: none !important;

    }

    button {
        border-radius: 0 10px 10px 0 !important;

    }
}


.d {
    // border: 1px solid red;
}

.red {

    border: 1px solid red !important;

}

.green {

    border: 1px solid rgb(40, 176, 6) !important;

}