@import "primereact/resources/primereact.min.css";
@import 'primeflex/primeflex.css';
@import "https://unpkg.com/primeflex@^3/primeflex.css";
@import "https://unpkg.com/primeflex/themes/saga-blue.css";
@import "primereact/resources/themes/lara-light-indigo/theme.css"; 
@import "./App.css";
@import 'primeicons/primeicons.css';
        

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* @media screen and (min-width: 62em) {
  .p-sidebar-md-hidden {
    min-width: unset;
    max-width: 992px;
  }
} */

tr{
/* display: flex; */
/* justify-content: space-between;   */
/* padding: 0 10px; */
/* text-align: center; */

}

td{
  /* padding: 0 10px; */
  /* text-align: center !important; */
  min-width: 45px;
}

td:nth-child(2){
  /* text-align: center !important;
   */
   min-width: 45px;
   
   /* max-width: 60px; */
   /* padding: 0 !important; */
   /* width: 60px; */
}