@import "primereact/resources/primereact.min.css";
@import 'primeflex/primeflex.css';
@import "https://unpkg.com/primeflex@^3/primeflex.css";
@import "primereact/resources/themes/saga-blue/theme.css";
/* @import "primereact/resources/themes/arya-blue/theme.css"; */
// @import "primereact/resources/themes/lara-light-indigo/theme.css";
/* @import "primereact/resources/themes/lara-light-indigo/theme.css";  */
@import "./App.scss";
@import 'primeicons/primeicons.css';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#root {
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: var(--summary-bg-color);
    border-radius: 3px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(28, 58, 148)));
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* @media screen and (min-width: 62em) {
  .p-sidebar-md-hidden {
    min-width: unset;
    max-width: 992px;
  }
} */

tr {
  /* display: flex; */
  /* justify-content: space-between;   */
  /* padding: 0 10px; */
  /* text-align: center; */

}

table {
  font-size: 11px;
  /* background: var(--nav-bg-color); */

  background: none !important;

}

td {
  /* padding: 0 10px; */
  /* text-align: center !important; */
  min-width: 45px;
  border: var(--table-border-color) !important;
  text-transform: capitalize;

  border-width: 0px 0px 1px 0px !important;
  /* border-color: var(--table-border-color) !important; */

}

td:nth-child(2) {
  /* text-align: center !important;
   */
  min-width: 45px;

  /* max-width: 60px; */
  /* padding: 0 !important; */
  /* width: 60px; */
}

tr {
  color: var(--nav-text-color) !important;
  background: none !important;
}

th {
  /* background: var(--nav-bg-color) !important; */
  background: none !important;
  color: var(--text-colors) !important;
  border: var(--table-border-color) !important;
  border-width: 0px 0px 1px 0px !important;




}

tr:last-child>td {
  border: none !important;
}


th>div>svg {
  color: var(--text-colors) !important;
}

.jpBuES {

  transition: left 1s ease 0s, transform 1s ease 0s, width 1s ease 0s, height 1s ease 0s, box-shadow 1s ease 0s, background-color 1s ease 0.2s !important;
}

.GuAPJ {
  width: 300px !important;
  box-shadow: rgb(224, 224, 224) 0px 0px 15px 1px !important;
}

.lhLyMq {
  width: 300px !important;
  box-shadow: rgb(97, 97, 97) 0px 0px 15px 1px !important;
}

.gedoCi {

  width: 110px !important;
}

.p-paginator {
  background: none !important;
  border: var(--table-border-color) !important;
  border-width: 0px 0px 1px 0px !important;

  border: none !important;

}

.p-paginator .p-paginator-pages .p-paginator-page {
  border-radius: 50% !important;
}

.p-paginator .p-paginator-pages .p-paginator-page .p-highlight {
  border-color: none;
}

.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--btn-bg-color) !important;
  color: var(--btn-text-color) !important;
}



.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {

  background: #e9ecef47 !important;
  color: var(--btn-text-color) !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  color: var(--nav-text-color) !important;
  min-width: 2.5rem !important;
  height: 2.5rem !important;

}

.p-paginator .p-paginator-prev {
  min-width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 50% !important;
  color: var(--nav-text-color) !important;
}

.p-paginator .p-paginator-next {
  min-width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 50% !important;
  color: var(--nav-text-color) !important;

}


.p-paginator .p-paginator-next:hover {

  background: #e9ecef47 !important;

}

.p-paginator .p-paginator-prev:hover {

  background: #e9ecef47 !important;

}